body {
  margin: auto;
  max-width: 700px;
  text-align: center;
}

section {
  margin: 40px;
}

table {
  margin: auto;
  border: 1px solid black;
}

form {
  margin: auto;
}

input {
  margin: 15px;
}